@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: #081b29;
  color: #ededed;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  text-decoration: none;
  color: #ededed;
  font-weight: 600;
}
.navbar a {
  font-size: 18px;
  text-decoration: none;
  color: #ededed;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
.home {
  height: 100vh;
  background:url('') no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  top: 50%;
  align-items: center;
  padding: 0 10%;
}
.home-section {
  max-width: 600px;
}
.home-section h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.home-section h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-section p {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0 40px;
}
.home-section .btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 50px;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 5px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box a:hover {
  color: #00abf0;
}
.btn-box a:nth-child(2) {
  background-color: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2):hover::before {
  background: #00abf0;
}
.btn-box a:nth-child(2):hover {
  color: #081b29;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}
.home-sci {
  position: absolute;
  width: 170px;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  transition:.5s;
  z-index:1;
  overflow:hidden;
}
.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}
.home-sci a:hover::before{
  width:100%;
}
.home-sci a:hover{
  color:#081b29;
}
